name: Deploy to EC2 IIS

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Upload files via SCP
      uses: appleboy/scp-action@v0.1.3
      with:
       host: ${{ secrets.EC2_HOST }}
       username: deployuser
       key: ${{ secrets.EC2_SSH_KEY }}
       port: 22
       source: "."
       target: "C:/inetpub/wwwroot"
